<!-- home.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Home Page</title>
</head>

<body>

	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h3>Smart Contact Management System</h3>
			<p>fvbedsgre dfbd dfbdb d fbdfb</p>
			<button class="btn bg-primary text-white ">Get Started</button>
		</div>

	</section>

</body>

</html>