<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Page</title>
</head>
<body>
    <h1>Employee Data</h1>
    <th:block th:if="${not #lists.isEmpty(employees)}">
        <table>
            <tr>
                <th>Name</th>
                <th>Salary</th>
                <th>Age</th>
            </tr>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.employee_name}"></td>
                <td th:text="${employee.employee_salary}"></td>
                <td th:text="${employee.employee_age}"></td>
            </tr>
        </table>
    </th:block>
    <th:block th:if="${not #strings.isEmpty(error)}">
        <p th:text="${error}"></p>
    </th:block>
</body>
</html>
