<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="emp1"
		class="comm.collectionType.injectingCollectionType.Employee">
		<property name="name">
			<value>swapnil</value>
		</property>

		<property name="phones">
			<list>
				<value>56465464</value>
				<value>87541649</value>
				<null></null>
			</list>
		</property>
	</bean>
</beans>
