<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- constructor value is passed to  c-->
	<bean class="com.sprincore.constructorInjection.Certificate"
		name="c">
		<constructor-arg value="Android"></constructor-arg>
	</bean>
	
	<bean class="com.sprincore.constructorInjection.Person"
		name="person1">
		<constructor-arg value="swapnil"></constructor-arg>
		<constructor-arg value="12"></constructor-arg>
		<constructor-arg ref="c"/>					<!-- here is reference passed -->
	</bean>
</beans>
