<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<title>Job Post</title>

	<style>
		body {
			height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #f8f9fa;
			/* Set background color */
		}

		form {
			background-color: #fff;
			/* Set form background color */
			padding: 20px;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}

		.header-content {
			color: #00B074;
			font-weight: 700;
			text-decoration: underline;
		}

		.btn-info {
			background-color: #00B074;
			color: white;
		}
	</style>
</head>

<body>

	<form action="/company/save" method="post">

		<!--profile-->
		<!--	<div class="form-group col-md-6">
			<label for="inputEmail4">Enter company name.</label>
			<input type="text" class="form-control" id="inputEmail4" placeholder="Enter company name." name="cname" 
			th:value="${companyName}">
		</div>-->
		<h4 class="header-content">
			<bold>Post A New Job !!</bold>
		</h4>
		<div class="form-row">
			<!--profile-->
			<div class="form-group col-md-6">
				<label for="inputEmail4">Enter job profile.</label>
				<input type="text" class="form-control" id="inputEmail4" placeholder="Enter job profile."
					name="profile">
			</div>

			<!--location-->
			<div class="form-group col-md-6">
				<label for="inputEmail4">Enter job location.</label>
				<input type="text" class="form-control" id="inputEmail4" placeholder="Enter job location."
					name="location">
			</div>

			<!--work mode-->
			<div class="form-group col-md-6">
				<label for="inputState">Enter work mode.</label>
				<select id="inputState" class="form-control" name="workMode">
					<option selected>work from home</option>
					<option>work from office</option>
				</select>
			</div>


			<!--job type-->
			<div class="form-group col-md-6">
				<label for="inputState">Enter job type.</label>
				<select id="inputState" class="form-control" name="jobType">
					<option selected>full time</option>
					<option>part time</option>
					<option>contract basis</option>
					<option>temporory</option>
				</select>
			</div>

			<!--experience -->
			<div class="form-group col-md-6">
				<label for="inputState">Enter experience required (in year)</label>
				<input type="number" class="form-control" id="inputEmail4" name="experience">
			</div>

			<!--CTC-->
			<div class="form-group col-md-6">
				<label for="inputState">Enter annual CTC ( in lakh )</label>
				<input type="number" class="form-control" id="inputEmail4" name="ctc">
			</div>

			<!-- Details -->
			<div class="form-group col-md-12">
				<label for="inputDetail">Enter job details</label>
				<textarea class="form-control" id="detail" placeholder="Enter job details"
					name="detail"></textarea>
			</div>


		</div>

		<!--t&c-->
		<div class="form-group">
			<div class="form-check">
				<input class="form-check-input" type="checkbox" id="gridCheck">
				<label class="form-check-label" for="gridCheck">
					accept T&C*
				</label>
			</div>
		</div>
		<button type="submit" class="btn btn-info ">submit</button>
		<a th:href="@{'/company/dashboard'}" class="btn btn-info">Back to home</a>
	</form>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>

</html>